<div class="row" style="padding:20px;">
    <div class="col-xs-2">
        New Student
    </div>
    <div class="col-xs-2" ng-repeat="(key,value) in student.selected">
        <input type="text" class="form-control" ng-model="student.selected[key]" placeholder="{{key | uppercase}}">
    </div>

    <div class="col-xs-2">
        <button class="btn btn-primary btn-sm"
                ng-click="addStudent()">Add
        </button>
    </div>
</div>

<!--<ng-include src="'templates/studentTable.html'"></ng-include>-->

<stu-table students="students" filter-text="{{searchText.value}}" edit-student="edit"  abc="searchText.value" ></stu-table>
